
body {
	background-color: #9933cc;
}


.container {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}

.game {
	width: 300px;
	height: 300px;
	border-style: solid;
	border-width: 3px;
}

#chat-output {
	border-style: solid;
	border-width: 2px;
	width: 500px;
	height: 150px;
	background-color: white;
	display: flex;
	justify-content: flex-start;
}

.choice:hover {
	background-color: chartreuse;
}